{{> logo}}
<div class="text-center">
  <h2 class="mb-4">Sample Application</h2>
  <a href="/custom/signin/" class="btn btn-primary d-block mb-4"
    >Custom Login</a
  >
  <a href="/hosted/signin/" class="btn btn-primary d-block">Hosted Login</a>
</div>
